<h2>Scoreboard</h2>

<table id="scorecard" cellspacing="0">
  <tr>
    <td>Ones</td>
    <td id="one"></td>
  </tr>
  <tr>
    <td>Twos</td>
    <td id="two"></td>
  </tr>
  <tr>
    <td>Threes</td>
    <td id="three"></td>
  </tr>
  <tr>
    <td>Fours</td>
    <td id="four"></td>
  </tr>
  <tr>
    <td>Fives</td>
    <td id="five"></td>
  </tr>
  <tr>
    <td>Sixes</td>
    <td id="six"></td>
  </tr>

  <tr>
    <td class="section-top totals">Bonus</td>
    <td class="bonus section-top totals"></td>
  </tr>
  <tr>
    <td class="section-bottom totals">Upper Total</td>
    <td class="uppertotal section-bottom totals"></td>
  </tr>

  <tr>
    <td>3 of a kind</td>
    <td id="threekind"></td>
  </tr>
  <tr>
    <td>4 of a kind</td>
    <td id="fourkind"></td>
  </tr>
  <tr>
    <td>Full House</td>
    <td id="fullhouse"></td>
  </tr>
  <tr>
    <td>Small Straight</td>
    <td id="smallstraight"></td>
  </tr>
  <tr>
    <td>Large Straight</td>
    <td id="largestraight"></td>
  </tr>
  <tr>
    <td>Chance</td>
    <td id="chance"></td>
  </tr>
  <tr>
    <td>Yahtzee</td>
    <td id="yahtzee"></td>
  </tr>

  <tr>
    <td class="section-top totals">Upper Total</td>
    <td class="uppertotal section-top totals"></td>
  </tr>
  <tr>
    <td class="totals">Lower Total</td>
    <td class="lowertotal totals"></td>
  </tr>
  <tr>
    <td class="totals">Combined Total</td>
    <td class="combined totals"></td>
  </tr>
</table>
